			<!-- CALLOUT -->
			<div class="alert alert-transparent bordered-bottom nomargin">
				<div class="container">

					<div class="row">

						<div class="col-md-9 col-sm-12"><!-- left text -->
							<h3>Call now at <span><strong>+800-565-2390</strong></span> and get 15% discount!</h3>
							<p class="font-lato weight-300 size-20 nomargin-bottom">
								We truly care about our users and our product.
							</p>
						</div><!-- /left text -->

						
						<div class="col-md-3 col-sm-12 text-right"><!-- right btn -->
							<a href="page-contact-1.html" class="btn btn-primary btn-lg">CONTACT US</a>
						</div><!-- /right btn -->

					</div>

				</div>
			</div>
			<!-- /CALLOUT -->