					<div class="portfolio-item development"><!-- item -->

						<div class="item-box">
							<figure>
								<span class="item-hover">
									<span class="overlay dark-5"></span>
									<span class="inner">

										<!-- lightbox -->
										<a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/1-min.jpg" data-plugin-options='{"type":"image"}'>
											<span class="fa fa-plus size-20"></span>
										</a>

										<!-- details -->
										<a class="ico-rounded" href="portfolio-single-slider.html">
											<span class="glyphicon glyphicon-option-horizontal size-20"></span>
										</a>

									</span>
								</span>

								<img class="img-responsive" src="assets/images/demo/mockups/800x553/1-min.jpg" width="800" height="553" alt="">
							</figure>

							<div class="item-box-desc">
								<h3>Street Photography</h3>
								<ul class="list-inline categories nomargin">
									<li><a href="#">Photography</a></li>
									<li><a href="#">Design</a></li>
								</ul>
							</div>

						</div>

					</div><!-- /item -->